<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员信息</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="./css/global.css">
    <link rel="stylesheet" type="text/css" href="./css/andi.css">
    <script src="./js/jquery/dist/jquery.min.js"></script>
    <!--[if lt IE 9]><script src="./js/html5shiv/dist/html5shiv.min.js"></script><![endif]-->
    <script src="./js/angular/angular.js"></script>
    <script src="./js/layer/layer.js"></script>
    <script src="./js/c_main.js"></script>
    <script src="./js/CommonService/CommonService.js"></script>

</head>
<body ng-app="AnDi">
    <div class="container" ng-controller="cMain">
        <header>
            <div class="top">
                <div class="top-logo" ng-click="goIndex()">
                    <p class="cn">安迪街舞会员管理系统</p>
                    <p class="en">ANDI MEMBER MANAGE SYSTEM</p>
                </div>
                <div class="info">
                    <a href="#" class="loginout"><img src="img/icon_loginout.png" alt=""></a>
                    <span class="info_txt">张飞云，欢迎登陆</span>
                </div>
            </div>
        </header>
        <nav class="navLeft">
            <ul>
                <li ng-repeat="nav in navList">
                    <div class="navTitle" ng-click="isActive($index)">{{nav.title}}</div>
                    <div class="navContent" ng-show="navIndex==$index">
                        <a ng-repeat="subNav in nav.content track by $index" href={{subNav.link}}><p>{{subNav.subName}}</p></a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="content" ng-controller="memberInfo">
            <!--充值弹框-->
            <div class="chargeValue">
                <div class="chargeValueTitle">
                    充值
                </div>
                <div class="chargeValueContent">
                    <div class="clearfix">
                        <div class="chargeValueContent-photo fl">
                            <img src="./img/new_photo11.jpg">
                        </div>
                        <div class="chargeValueContent-info fl">
                            <table class="mt10 ml30">
                                <tr><td>姓名：李大友</td><td>会员编号：9627</td></tr>
                                <tr><td>会员类型：普通会员</td><td>卡号：15456455</td></tr>
                                <tr><td>电话：13990419305</td><td>课程顾问：李大成</td></tr>
                                <tr><td>当前余额：0元</td><td></td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="chargeValueBalance">
                        <p>当前余额：0元 充值后余额0元</p>
                    </div>
                    <table class="chargeValuetable">
                        <tr>
                            <th>缴费方式</th>
                            <th>刷卡</th>
                            <th>支付工具</th>
                            <th>现金</th>
                            <th>其他</th>
                            <th>合计</th>
                        </tr>
                        <tr>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                        </tr>
                    </table>
                    <div class="clearfix chargeValueBottom mt10">
                        <p class="fl chargeValuePeople">收款人:</p>
                        <select class="nameSelect fl">
                            <option>李大牛</option>
                            <option>条件2</option>
                            <option>条件3</option>
                            <option>条件4</option>
                        </select>
                        <p class="fl chargeValuePeople">收款单据号:</p>
                        <input class="commonInput">
                    </div>
                </div>
                <div class="textCenter mb10">
                    <button class="btn_common b-11cd6e">确定</button>
                    <button class="btn_common ml70" ng-click="cancelAll()">取消</button>
                </div>
            </div>
            <!--延迟时间-->
            <div class="commonPopUp packageDelayTc">
                <div class="commonPopUp-title">
                    延迟时间
                </div>
                <div class="commonPopUp-content">
                    <table>
                        <tr><td>套餐名：30天20次套餐</td></tr>
                        <tr><td>活动：七夕情人节</td></tr>
                        <tr><td>姓名：无木槿</td></tr>
                        <tr><td>卡号：234545544</td></tr>
                        <tr><td>订购时间：2016-6-13 17:32</td></tr>
                        <tr><td>到期时间：2017-6-13 17:32</td></tr>
                        <tr><td>延迟到：<input type="date"></td></tr>
                    </table>
                </div>
                <div class="commonPopUp-footer textCenter pb10">
                    <button class="btn_common inlineBlock t-ffffff b-11cd6e">确定</button>
                    <button class="btn_common inlineBlock b-ff0000">取消</button>
                </div>
            </div>
            <!--套餐执行弹框-->
            <div class="commonPopUp applyPackageTc">
                <div class="commonPopUp-title">
                    执行套餐
                </div>
                <div class="commonPopUp-content">
                    <table>
                        <tbody>
                            <tr><td>套餐名：30天20次套餐</td></tr>
                            <tr><td>姓名：雅木茶</td><td>卡号：332454</td></tr>
                            <tr><td>套餐余量：2课时</td><td>套餐余时：3天</td></tr>
                        </tbody>
                    </table>
                    <div class="textCenter mt10 mb10">
                        <p>如果将该套餐设为执行套餐，系统将把目前执行套餐冻结，是否继续？</p>
                    </div>
                </div>
                <div class="commonPopUp-footer textCenter pb10">
                    <button class="btn_common inlineBlock t-ffffff b-11cd6e">确定</button><button class="btn_common inlineBlock ml5 ">取消</button>
                </div>

            </div>
            <!--套餐冻结弹框-->
            <div class="commonPopUp freezePackageTc">
                <div class="commonPopUp-title">
                    冻结套餐
                </div>
                <div class="commonPopUp-content">
                    <table>
                        <tbody>
                            <tr><td>冻结内容：30天20次套餐</td></tr>
                            <tr><td>姓名：雅木茶</td><td>卡号：332454</td></tr>
                            <tr><td>冻结时间：<input><span class="ml5 mr5">至</span></td><td><input></td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="commonPopUp-footer textCenter pb10">
                    <button class="btn_common inlineBlock t-ffffff b-11cd6e">确定</button><button class="btn_common inlineBlock ml5 ">取消</button>
                </div>

            </div>
            <!--退款-->
            <div class="commonPopUp packageRefundTc">
                <div class="commonPopUp-title">
                    退款
                </div>
                <div class="commonPopUp-content">
                    <table>
                        <tr><td>套餐名：30天20次套餐</td></tr>
                        <tr><td>活动：七夕情人节</td></tr>
                        <tr><td>姓名：无木槿</td></tr>
                        <tr><td>卡号：234545544</td></tr>
                        <tr><td>套餐剩余：38课时</td></tr>
                        <tr><td>时限量：29天</td></tr>
                        <tr><td>退款金额：<input></td></tr>
                    </table>
                </div>
                <div class="commonPopUp-footer textCenter pb10">
                    <button class="btn_common inlineBlock t-ffffff b-11cd6e">确定</button>
                    <button class="btn_common inlineBlock b-ff0000">取消</button>
                </div>
            </div>
            <div class="commonBox">
                <div class="commonBoxTitle clearfix">
                    <p ng-click="freezePackageTc()">会员信息</p>
                    <button>返回</button>
                    <button>补卡</button>
                    <button ng-click="chargeValue()">充值</button>
                    <button>保存</button>
                    <button ng-click="switch =!switch">编辑</button>
                </div>
                <hr class="mt20">
                <div class="commonBoxContent">
                    <table class="addMemberTable memberInfo">
                        <tbody>
                            <tr>
                                <td>姓名：</td>
                                <td><input ng-disabled="switch" value="李大牛"></td>
                                <td>会员编号：</td>
                                <td><input ng-disabled="switch" value="123456"></td>
                            </tr>
                            <tr>
                                <td>会员类型：</td>
                                <td><select ng-disabled="switch "><option>请选择</option><option>普通用户</option><option>XX用户</option></select></td>
                                <td>开卡员：</td>
                                <td><select ng-disabled="switch "><option>请选择</option><option>李大牛</option><option>李二牛</option></select></td>
                            </tr>
                            <tr>
                                <td>QQ：</td>
                                <td><input ng-disabled="switch"></td>
                                <td>电话：</td>
                                <td><input ng-disabled="switch"></td>
                            </tr>
                            <tr>
                                <td>生日：</td>
                                <td><input ng-disabled="switch"></td>
                                <td>年龄：</td>
                                <td><input ng-disabled="switch"></td>
                            </tr>
                            <tr>
                                <td>课程顾问：</td>
                                <td><select ng-disabled="switch "><option>请选择</option><option>吴皓</option><option>李二牛</option></select></td>
                                <td>开户时间：</td>
                                <td><input ng-disabled="switch"></td>
                            </tr>
                            <tr>
                                <td>卡号：</td>
                                <td><input ng-disabled="switch"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="vTop">备注：</td>
                                <td><textarea class="w300 h100" ng-disabled="switch"></textarea></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>执行套餐：</td>
                                <td>30天20次套餐</td>
                            </tr>
                            <tr>
                                <td>套餐属性：</td>
                                <td>最低消费</td>
                                <td>套餐总课时：</td>
                                <td>50课时</td>
                                <td>套餐剩余课时：</td>
                                <td>20课时</td>
                            </tr>
                            <tr>
                                <td>购买时间：</td>
                                <td>2016-7-1</td>
                                <td>到期时间：</td>
                                <td>2016-10-1</td>
                                <td>剩余时间：</td>
                                <td>100天</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <h1 class="f16 fl">现有套餐：</h1><button class="fr btn_common">添加套餐</button>
                    </div>
                    <table class="nowPackegTable textCenter">
                        <tbody>
                            <tr>
                                <th>套餐名</th>
                                <th>套餐剩余课时</th>
                                <th>剩余时限</th>
                                <th>状态</th>
                                <th>活动</th>
                                <th>操作</th>
                            </tr>
                            <tr>
                                <td>30天20次套餐</td>
                                <td>20课时</td>
                                <td>100天</td>
                                <td>执行中</td>
                                <td>无</td>
                                <td><span class="btn_nowPackegTable btn_packageFrozen" ng-click="freezePackageTc()">冻结</span><span class="btn_nowPackegTable btn_packageDelay" ng-click="packageDelayTc()">延迟</span><a href="./packageDetail.html"><span class="btn_nowPackegTable btn_packageDetail">详细</span></a></td>
                            </tr>
                            <tr>
                                <td>30天20次套餐</td>
                                <td>20课时</td>
                                <td>100天</td>
                                <td>冻结</td>
                                <td>七夕情人节</td>
                                <td><span class="btn_nowPackegTable btn_packageFrozen">冻结</span><span class="btn_nowPackegTable btn_packageDelay">延迟</span><span class="btn_nowPackegTable btn_packageDetail">详细</span></td>
                            </tr>
                            <tr>
                                <td>30天20次套餐</td>
                                <td>20课时</td>
                                <td>100天</td>
                                <td>执行中</td>
                                <td>七夕情人节</td>
                                <td><span class="btn_nowPackegTable btn_packageFrozen">冻结</span><span class="btn_nowPackegTable btn_packageDelay">延迟</span><span class="btn_nowPackegTable btn_packageDetail">详细</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix  mt10">
                        <h1 class="f16 fl">现有课程：</h1><button class="fr btn_common">添加课程</button>
                    </div>
                    <table class="nowCourseTable textCenter">
                        <tbody>
                            <tr>
                                <th>周一</th>
                                <th>周二</th>
                                <th>周三</th>
                                <th>周四</th>
                                <th>周五</th>
                                <th>周六</th>
                                <th>周日</th>
                            </tr>
                            <tr>
                                <td><div><p>街舞基础</p><p>李大牛</p></div><div><p>街舞基础</p><p>李大牛</p></div></td>
                                <td><div><p>街舞基础</p><p>李大牛</p></div></td>
                                <td><div><p>街舞基础</p><p>李大牛</p></div></td>
                                <td><div><p>街舞基础</p><p>李大牛</p></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>